<!-- lol -->
<div class="px-10 py-10">
  <app-overview
    [citydetails]="city[0]"
    [avgnumericaldetails]="avgnumericaltime"
  ></app-overview>
  <div class="flex flex-wrap">
    <app-completedprojects
      class="flex-auto mr-5"
      [citydetails]="city[0]"
    ></app-completedprojects>
    <app-projectstats
      class="flex-auto"
      [citydetails]="city[0]"
    ></app-projectstats>
  </div>
  <div class="flex flex-wrap" *ngIf="numericaltime">
    <app-versustimeseries
      class="flex-auto"
      [numericalTime]="numericaltime"
    ></app-versustimeseries>
  </div>
  <div class="flex flex-wrap" *ngIf="groupavgnumericaltime">
    <app-avggroupby
      class="flex-auto mr-5"
      [avggroupby]="groupavgnumericaltime"
    ></app-avggroupby>
  </div>
  <div class="flex flex-wrap" *ngIf="categoricaltime && numericaltime">
    <app-table
      class="flex-auto"
      [categoricaltime]="categoricaltime"
      [numericaltime]="numericaltime"
    ></app-table>
  </div>
  <!-- <div class="flex flex-wrap">
    <app-avggroupbyrp
      class="flex-auto mr-5"
      [avggroupbyrp]="avgtimeseriesGrpRp"
    ></app-avggroupbyrp>
    <app-avggroupbywc class="flex-auto"></app-avggroupbywc>
    <app-avggroupbywc
      class="flex-auto"
      [avggroupbywc]="avgtimeseriesGrpWc"
    ></app-avggroupbywc>
  </div>
  <div class="flex flex-wrap">
    <app-table class="flex-auto" [timeseries]="timeseriesstatic"></app-table>
  </div> -->
</div>
{{ overalltime | json }}
<!-- {{ categoricaltime | json }} -->
